@import '../../node_modules/scss-reset/reset';

body {
	font-family: 'Courier New';
	height: 100vh;
}

a {
	color: #6610F2;
}

.container {
	max-width: 630px;
	margin: 0 auto;
	padding: 20px 15px;

	@media (min-width: 1024px) {
		padding-top: 100px;
	}
}

.popup {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	background: rgba($color: #000000, $alpha: 0.7);
	cursor: pointer;

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
		max-width: 400px;
		width: 100%;
		padding: 20px;
		background: #fff;

		&__playlist {
			@extend .popup__content;
			max-width: 630px;
		}
	}
}

input {
	background: #FFFFFF;
	border: 1px solid #DEE2E6;
	border-radius: 6px;
	padding: 9px 16px;
	width: 100%;
	height: 52px;

	&:focus {
		box-shadow: 0px 0px 0px 3px rgba(102, 16, 242, 0.15);
		border-color: #7749F8;
		transition: .3s;
	}
}

.button {
	border: 1px solid #7749F8;
	background: #fff;
	border-radius: 6px;
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	padding: 16px 24px;
	color: #6610F2;
	white-space: nowrap;

	&_active,
	&:hover {
		background: #6610F2;
		color: #fff;
	}

	&:hover {
		transition: .3s;
	}

	&_sm {
		font-size: 15px;
		padding: 6px 15px
	}

	@media (max-width: 1023px) {
		width: 100%;
	}
}

.button:disabled {
	border-color: #7b7684;
	background: #FFFFFF;
	color: #7b7684;
}

.add-panel {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 20px;

	input {
		@media (min-width: 1024px) {
			width: auto;
		}
	}
}

.header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 30px;

	&__link {
		text-decoration: none;

		&.active,
		&:hover {
			border-bottom: 1px solid currentColor;
		}

		&:hover {
			transition: border-bottom .3s;
		}
	}

	input {
		@media (min-width: 1024px) {
			width: auto;
		}
	}
}

.list-videos {
	margin-top: 20px;
	width: 100%;

	&__item {

		td {
			padding: 8px;

			&:first-child {
				width: 60%;
			}
		}
	}
}

.list-playlists {
	@extend .list-videos;
	display: flex;
	flex-direction: column;
	gap: 24px;

	&__item-heading {
		display: flex;
		flex-direction: column;
		gap: 12px;

		@media (min-width: 1024px) {
			justify-content: space-between;
			flex-direction: row;
		}
	}
}

.dropdown-line {
	display: flex;
	justify-content: space-between;

	span {
		align-self: center;
	}

	button {
		padding: 6px 15px;
	}
}

.input-editable {
	border-color: transparent;
}

.footer {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;

	a {
		text-decoration: none;
		border-bottom: 1px solid transparent;

		&:hover {
			border-bottom-color: currentColor;
			transition: border-bottom .3s;
		}
	}
}

.text-danger {
	color: #dc3545;
}

.text-center {
	text-align: center;
}

.text-secondary {
	color: #6c757d;
}

.mt-20 {
	margin-top: 20px;
}

.spinner-wrapper {
	width: 100%;
}

.pages {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.page-item {
	border: 3px solid #6610F2;
	padding: 5px;
	border-radius: 6px;
	background-color: #ffffff;
	color: #6610F2;
	margin: 0 5px;
	cursor: pointer;

	&_active,
	&:hover {
		font-weight: bold;
		background-color: #6610F2;
		color: #ffffff;
	}

	&:disabled {
		border-color: #7b7684;
		background: #FFFFFF;
		color: #7b7684;
	}
}